@font-face {
    font-family: 'Inter';
    src: url('../fuentes/Inter/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('../fuentes/Inter/Bold');
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url('../fuentes/Inter/Inter-SemiBold.ttf');
}

@font-face {
    font-family: 'Romanesco';
    src: url('../fuentes/Romanesco/Romanesco-Regular.ttf');
}

:root {
    /* Colores */
    --color-primario: #A3A656; /* Verde oscuro */
    --color-secundario: #384001; /* Verde más oscuro */
    --color-resaltar: #FFFF00; /* Amarillo */
    --color-fondo: #F2F6F6; /* Gris claro */
    --color-texto: #000; /* Negro */
    --color-texto-claro: #fff; /* Blanco */

    /* Fuentes */
    --fuente-principal: 'Inter';
    --fuente-titulos1: 'Inter-Bold';
    --fuente-titulos2: 'Inter-SemiBold';
    --fuente-romanesto: 'Romanesco';

    /* Tamaños de fuente */
    --tamano-fuente-principal: 16px;
    --tamano-fuente-titulo1: 48px;
    --tamano-fuente-titulo2: 32px;
    --tamano-fuente-menu: 16px;
    --tamano-fuente-miniatura: 14px;
    --tamano-fuente-romanesco: 96px;

    /* Dimensiones */
    --altura-header: 70px;
    --altura-footer: 97px;
    --altura-inputs: 100px;

    /* Otros */
    --border-radius-input: 10px;
    --border-radius-button: 35px;
    --color-placeholder: #9E9A9A;
}

body {
    margin: 0;
    padding: 0;
    font-size: var(--tamano-fuente-principal);
    font-family: var(--fuente-principal);
}

nav {
    height: var(--altura-header);
    background-color: var(--color-primario);
    display: flex;
    align-items: center;
    padding-left: 70px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-texto);
    font-family: var(--fuente-principal);
    font-size: var(--tamano-fuente-menu);
    text-transform: uppercase;
}

nav ul li a:hover {
    color: var(--color-resaltar);
}

header {
    background-image: url('../images/main.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 670px;
}

header .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    color: var(--color-texto);
    margin: 0 0 20% 12.5%;
}

header .header-content h1 {
    font-size: var(--tamano-fuente-romanesco);
    font-family: var(--fuente-romanesto);
    margin: 0;
}

header .header-content h2 {
    font-size: var(--tamano-fuente-titulo2);
    font-family: var(--fuente-titulos2);
    margin: 0;
}

.reservation {
    display: flex;
    background-color: var(--color-fondo);
    padding: 0 17% 0 22%;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100px;
}

.reservation label {
    margin-right: 10px;
    margin-left: 10px;
}

.reservation input {
    padding: 10px;
    margin: 0;
    border-radius: var(--border-radius-input);
    border: none;
    font-size: var(--tamano-fuente-menu);
    font-family: var(--fuente-principal);
    color: var(--color-texto);
}

.reservation input::placeholder {
    color: var(--color-placeholder);
    font-size: var(--tamano-fuente-menu);
    font-family: var(--fuente-principal);
}

.reservation .reserva {
    width: 200px;
    height: 35px;
}

.reservation .codigo {
    width: 130px;
    height: 35px;
}

#servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

#servicios .servicio {
    background-color: #fff;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    margin: 20px 67px; /* Margen ajustado para centrado */
}

#servicios .servicio h2 {
    background-color: var(--color-primario);
    color: white;
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: var(--tamano-fuente-titulo2);
    font-family: var(--fuente-titulos2);
}

#servicios .servicio img {
    display: block;
    width: 100%;
    height: auto;
}

#servicios .servicio p {
    padding: 10px;
    margin: 0;
    color: var(--color-secundario);
    font-size: var(--tamano-fuente-principal);
    font-family: var(--fuente-principal);
}

#servicios .precio-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#servicios .precio-button p {
    margin: 0;
    font-size: var(--tamano-fuente-titulo2);
    color: #333;
}

#servicios .precio-button button {
    background-color: var(--color-primario);
    color: white;
    border: none;
    border-radius: 35px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    font-family: var(--fuente-titulos2);
}

#servicios .precio-button button:hover {
    background-color: var(--color-secundario);
}

#membresias {
    background-color: var(--color-fondo);
    padding: 40px 20px;
    text-align: center;
}

#membresias h2 {
    font-size: var(--tamano-fuente-titulo2);
    margin-bottom: 40px;
}

#membresias .membresias-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#membresias .membresia {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    width: 30%;
    margin: 20px;
}

#membresias .membresia h5 {
    font-size: 1.5rem;
    color: var(--color-secundario);
    margin-bottom: 20px;
}

#membresias .membresia button {
    background-color: var(--color-primario);
    color: #fff;
    border: none;
    border-radius: var(--border-radius-button);
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    width: 68%;
    height: 3.5rem;
}

#membresias .membresia button:hover {
    background-color: var(--color-secundario);
}

#membresias .membresia ul {
    padding: 0;
    margin: 0;
    text-align: center;
}

#membresias .membresia ul li {
    font-size: var(--tamano-fuente-miniatura);
    color: #000;
    text-align: left;
}

.icono-circulo {
    width: 255px;
    height: 255px;
    border: 10px solid var(--color-secundario);
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
}

.icono-circulo img {
    max-width: 233px;
    max-height: 233px;
    object-fit: contain;
    margin: 11px;
}

/* Footer */
.contenedor-footer {
    display: flex;
    background-color: var(--color-secundario);
    justify-content: space-between;
    width: 100%;
    height: var(--altura-footer);
    align-items: center;
}

.contenedor-footer nav {
    background-color: var(--color-secundario);
    display: flex;
    align-items: center;
    padding-left: 70px;
    justify-content: space-between;
    width: 60%;
}

.contenedor-footer nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    color: var(--color-primario);
    font-size: 16px;
    text-transform: uppercase;
}

.contenedor-footer nav a:hover {
    color: var(--color-resaltar);
}

.contenedor-footer .redes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.contenedor-footer .redes p {
    font-family: var(--fuente-principal);
    font-weight: normal;
    color: var(--color-primario);
    font-size: var(--tamano-fuente-menu);
    text-transform: uppercase;
    padding-left: 26%;
    width: auto;
}

.contenedor-footer .redes .imagenes-redes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto;
    cursor: pointer;
}

.usuario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 40rem;
}

.usuario .arrow {
    cursor: pointer;
}

.usuario .usuarioimg {
    transform: scale(0.9);
}

.usuario .bandera {
    padding: 1rem;
}

.usuario p {
    padding: 0 .5rem;
    font-family: var(--fuente-principal);
    cursor: pointer;
    font-size: var(--tamano-fuente-menu);
}

.usuario p:hover {
    color: var(--color-resaltar);
}

.usuario .micuenta {
    margin-right: 2.5rem;
}
